<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <%= form_with(model: @excel_file, local: true, class: "p-3 mb-3") do |form| %>
      <%= render 'shared/errors', resource: @excel_file %>
      <div class="">
        <h1 class="text-center mt-3">ExcelFiles#new</h1>
      </div>
      <div class="form-group row justify-content-center mb-2">
        <%= form.label :colegio, class: "text-dark col-md-1 col-form-label"  %>
        <div class="col-6">
          <%= form.text_field :school, class: "form-control rounded" %>
        </div>
      </div>
      <div class="form-group row justify-content-center mb-2">
        <%= form.label :rbd, class: "text-dark col-md-1 col-form-label" %>
        <div class="col-6">
          <%= form.text_field :rbd, class: "form-control rounded" %>
        </div>
      </div>
      <div class="form-group row justify-content-center mb-2">
        <%= form.label :input_file, class: "text-dark col-md-1 col-form-label" %>
        <div class="col-6">
          <%= form.file_field :input_file, class: "form-control-file" %>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <div class="">
          <%= form.submit class: "mt-2 btn btn-sm btn-outline-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>