<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 mt-4">
      <h1 class="row justify-content-center">ExcelFiles#index</h1>
      <table class="table table-borderless table-sm">
        <thead style="background-color: #e3f2fd;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Colegio</th>
            <th scope="col">Rbd</th>
            <th scope="col">Input Action</th>
            <th scope="col">Output Action</th>
          </tr>
        </thead>
        <tbody>
          <% @excel_files.each do |excel| %>
            <tr>
              <th scope="row"><%= excel.id %></th>
              <td><%= excel.school %></td>
              <td><%= excel.rbd %></td>
              <td>
                <%= link_to 'descargar', rails_blob_path(excel.input_file, disposition: "attachment"), class:'btn-sm btn btn-primary' if excel.input_file.attached? %>
                <%= link_to 'eliminar', excel_file_path(excel), method: :delete, data: { confirm: "Are you sure?"}, class:'btn-sm btn btn-danger' %>
              </td>
              <td>
                <%= link_to 'Procesar', validate_excel_file_path(excel), data: { confirm: "Are you sure?"}, class:'btn-sm btn btn-success' %>
                <%= link_to 'descargar', rails_blob_path(excel.output_file, disposition: "attachment"), class:'btn-sm btn btn-primary' if excel.output_file.attached? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>