<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 mt-4">
      <h1 class="row justify-content-center">ExcelFiles#index</h1>
      <table class="table table-borderless table-sm">
        <thead style="background-color: #e3f2fd;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Colegio</th>
            <th scope="col">Rbd</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @excel_files.each do |excel| %>
            <tr>
              <td><%= excel.id %></td>
              <td><%= excel.school %></td>
              <td><%= excel.rbd %></td>
              <td><%= link_to 'descargar,', rails_blob_path(excel.file, disposition: "attachment") %>
                <%= link_to 'eliminar', excel_file_path(excel), method: :delete, data: { confirm: "Are you sure?"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>